* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Noto Sans', sans-serif;
}

header {
    height: 100px;
    width: 100%;
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: 999;
    border-bottom: 1px solid #bbb;
}

header div {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;

}

header img {
    height: 100%;
    margin-top: 5px;
}

header h2 {
    margin-top: 0px;
    margin-left: -20px;
    font-weight: 600;
    color: #777;
}

header ul {
    display: flex;
    height: 50%;
    align-items: center;
}

header ul li {
    height: 100%;
    margin: 0 20px;
    font-weight: 600;
    color: #666;
    display: flex;
    align-items: center;
}

header ul li:hover {
    color: #3367d6;
    border-bottom: 3px solid #3367d6;
    cursor: pointer;
}

main {
    margin-top: 200px;
    padding: 0 18%;
}

h2 {
    margin-top: 80px;
    font-weight: 600;
    color: #444;
}

h3 {
    font-size: 18px;
    font-weight: 600;
    color: #444;
}

ul{
    list-style-type: none;
}

li {
    margin-top: 30px;
    font-size: 14px;
    line-height: 25px;
}

a {
    text-decoration: none;
}


ol {
    margin-left: 20px;
}

ol ol{
    list-style: lower-alpha;
}

ol li {
    margin-top: 15px;
}
